<mat-card>
  <table class="user-table">
    <tr>
      <th>Name</th>
      <th>E-Mail</th>
      <th>Address</th>
      <th>Postal Code</th>
      <th>City</th>
    </tr>

  @for (user of users$ | async; track user.id) {
    <tr [routerLink]="['/user/' + user.id]">
      <td>{{ user.firstName }} {{ user.lastName }}</td>
      <td>{{ user.email }}</td>
      <td>{{ user.street }}</td>
      <td>{{ user.zipCode }}</td>
      <td>{{ user.city }}</td>
    </tr>
  }
  </table>
</mat-card>


<button
  (click)="openDialog()"
  class="add-user-btn"
  mat-fab
  color="primary"
  matTooltip="Add user"
  matTooltipPosition="above"
>
  <mat-icon>add</mat-icon>
</button>